/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/admin/assets/files
/public/admin/assets/images
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
ask-lawyer-76c87-firebase-adminsdk-q7ve0-8f02af4b0d.json
